<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .topright {
        position: relative;
        top: 8px;
        right: 16px;
        font-size: 18px;
      }

      .boardered {
        border: 2px solid black;
      }

      .post {
        max-width: 1024px;
        max-height: 1024px;
      }

      .profile {
        max-width: 32px;
        max-height: 32px;
      }
    </style>
    <title>Siege Match Predictor</title>
  </head>

  <body>
    <a href="/"><img src="/images/logo.jpg" alt="Siege Match Predictor" /></a>
    <div id="reactEntry">
      Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>